@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&display=swap');


body {
  display: -ms-flexbox;
  display: flex;
  color: #111111;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #f87553;
}

a:hover {
  color: #f64e22;
  text-decoration: none
}

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.btn-azul.btn-primary {
  color: #fff;
  background-color: #2042b8;
  border-color: #2042b8;
}

.btn-azul {
  padding: 0.8rem 2rem;
  border-radius: 0.625rem;
}

.btn-azul.btn-primary:hover {
  color: #fff;
  background-color: #1c3aa2;
  border-color: #1c3aa2;
}

.btn-azul.btn-primary.focus,
.btn-azul.btn-primary:focus {
  color: #fff;
  background-color: #1c3aa2;
  border-color: #1c3aa2;
  box-shadow: 0 0 0 0.2rem rgba(28, 58, 162, 0.5);
}

.btn-azul.btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #1c3aa2;
  border-color: #1c3aa2;
}

/*
 * Header
 */

.logo-header-pacch img {
  height: 2.5rem;
}

.logo-header-unam img {
  height: 2.5rem;
  margin-left: 1rem;
}

.logo-header-cch img {
  height: 2.5rem;
  margin-left: 1rem;
}

.masthead {
  margin-bottom: 2rem;
}

.masthead {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 1.5rem 10rem;
}

.mastfoot {
  position: relative;
  z-index: 999;
  padding: 1.5rem 10rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  /* color: rgba(32, 66, 184, 1); */
  background-color: transparent;
}

.nav-masthead .nav-link:hover {
  /* color: rgba(32, 66, 184, .5); */
}

.nav-masthead .nav-link+.nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: rgb(17, 17, 17);
  border-bottom-color: #111;
}

.mastfoot {
  position: relative;
  margin-top: 2rem;
}

/* @media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }

  .nav-masthead {
    float: right;
  }
} */

.revista-wrapper {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.revista-wrapper .left-container {
  position: fixed;
  float: left;
  height: 100vh;
  width: 50%;
  background-color: #FFF;
}

.revista-wrapper .right-container {
  position: fixed;
  right: 0;
  height: 100vh;
  width: 50%;
  background-color: #2042B8;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.revista-wrapper .intro-revista-container {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  padding: 10rem
}

.texto-intro {
  margin-bottom: 1.875rem;
}

.revista-wrapper h1 {
  font-family: "League Spartan", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  color: #111;
  font-size: 8.5rem;
  margin-bottom: 0;
  line-height: 0.8;
}

.revista-wrapper .subtitulo {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 2.5rem;
  margin-bottom: 1.875rem;
}

@media (max-width: 1400px) {
  .revista-wrapper h1 {
    font-size: 4.5rem
  }

  .revista-wrapper .subtitulo {
    font-size: 1.875rem
  }
}


@media (max-width: 1200px) {
  .revista-wrapper .intro-revista-container {
    padding: 5rem;
  }

  .masthead {
    padding: 1.5rem 5rem;
  }
}

@media (max-width: 991px) {
  .left-container {
    width: 100% !important;
    position: relative !important;
    float: none !important;
  }

  .right-container {
    width: 100% !important;
    position: relative !important;
    right: unset !important;
    height: 100% !important;
  }
}

@media (max-width: 991px) {
  .revista-wrapper .intro-revista-container {
    padding: 3rem;
  }

  .masthead {
    padding: 1.5rem 3rem;
  }
}


@media (max-width: 574px) {
  .logos-header {
    padding-bottom: 1.25rem;
    /* -ms-flex-pack: center !important;
    justify-content: center !important; */
  }

  .revista-wrapper h1 {
    font-size: 4.5rem;
  }

}