@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&display=swap');


body {
  color: #111111;
  font-size: 1.125rem;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #2042b8;
  text-decoration: none;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

a:hover {
  color: #1c3aa2;
}

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.btn-azul.btn-primary {
  color: #FFFFFF;
  background-color: #2042b8;
  border-color: #2042b8;
}

.btn-azul {
  padding: 0.8rem 2rem;
  border-radius: 0.625rem;
}

.btn-azul.btn-primary:hover {
  color: #FFFFFF;
  background-color: #1c3aa2;
  border-color: #1c3aa2;
}

.btn-azul.btn-primary.focus,
.btn-azul.btn-primary:focus {
  color: #FFFFFF;
  background-color: #1c3aa2;
  border-color: #1c3aa2;
  box-shadow: 0 0 0 0.2rem rgba(28, 58, 162, 0.5);
}

.btn-azul.btn-primary:not(:disabled):not(.disabled):active {
  color: #FFFFFF;
  background-color: #1c3aa2;
  border-color: #1c3aa2;
}

/*
 * Inicia Header
 */

.logo-header-pacch img {
  height: 2.5rem;
}

.logo-header-unam img {
  height: 2.5rem;
  margin-left: 1rem;
}

.logo-header-cch img {
  height: 2.5rem;
  margin-left: 1rem;
}

.masthead {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 1.5rem 10rem;
  background-color: #FFFFFF;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  color: rgb(255, 255, 255);
  background-color: transparent;
  font-weight: 500;
}

.nav-masthead .nav-link:hover {
  color: rgba(255, 255, 255, 0.5);
}

.nav-masthead .nav-link+.nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: rgb(17, 17, 17);
  border-bottom-color: #111;
}

.revista-wrapper {
  height: 100vh;
  width: 100%;
  position: relative;
}

.revista-wrapper .left-container {
  position: relative;
  float: left;
  height: 100vh;
  width: 50%;
  background-color: #FFFFFF;
}

.revista-wrapper .right-container {
  position: relative;
  right: 0;
  height: 50vh;
  width: 50%;
  background-color: #2042B8;
}

.revista-wrapper .intro-revista-container {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  padding: 10rem
}

.texto-intro {
  margin-bottom: 1.875rem;
}

.revista-wrapper h1 {
  font-family: "League Spartan", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  color: #111;
  font-size: 8.5rem;
  margin-bottom: 0;
  line-height: 0.8;
}

.revista-wrapper .subtitulo {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 2.5rem;
  margin-bottom: 1.875rem;
}

.col-intro-revista {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/*
 * Termina Header
 */

/* Inicia Acerca de */
.acerca-revista {
  position: relative;
  height: 100%;
  background-color: #EBE9E3;
  padding: 5rem 10rem;
}

a.correo-link {
  color: #111111;
  text-decoration: none;
}

a:hover.correo-link {
  color: #2042B8;
}

/* Termina Acerca de */

/* Inicia Revistas */
.pantalla-interior .masthead {
  position: relative;
}

.pantalla-interior .nav-masthead a {
  color: #000000;
}

.pantalla-interior .nav-masthead a:hover {
  color: #2042B8
}

.header-interior {
  position: relative;
  background: #EBE9E3;
  height: 250px;
  padding: 3.75rem 10rem;
}

.header-interior h2.titulo {
  margin: 0;
  font-size: 4rem;
  font-family: "League Spartan", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  line-height: 0.8;
}

.header-interior h2.subtitulo {
  margin: 0;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;
}

.header-interior .breadcrumb {
  font-size: 1rem;
  margin-top: 1.875rem;
  margin-bottom: 0;
}

.header-interior .breadcrumb a {
  text-decoration: none;
  color: rgba(17, 17, 17, 0.75);
}

.header-interior .breadcrumb a:hover {
  color: #2042B8
}

.header-interior .breadcrumb .active {
  color: #2042B8
}

.revistas-disponibles {
  padding: 5rem 10rem;
}

.revistas-disponibles .figure-img {
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
  transition: box-shadow .3s ease-out, transform .3s ease-out, opacity .2s ease-out;
  transition-delay: .1s;
  transform: translateZ(0);
}

.revistas-disponibles .figure-img:hover {
  box-shadow: rgba(45, 45, 45, 0.05) 0px 2px 2px, rgba(49, 49, 49, 0.05) 0px 4px 4px, rgba(42, 42, 42, 0.05) 0px 8px 8px, rgba(32, 32, 32, 0.05) 0px 16px 16px, rgba(49, 49, 49, 0.05) 0px 32px 32px;
  transform: translate(0, -4px);
}

.revistas-disponibles .figure-caption {
  font-size: 1rem;
  font-weight: 700;
  color: #111111;
}

/* Termina Revistas */

/* Inicia Revista Interior */
.revista-interior {
  padding: 5rem 10rem;
}

.revista-interior h3.subtitulo {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 2.25rem;
}

.info-revista-interior {
  padding-bottom: 1.875rem;
}

.info-revista-interior p {
  margin-bottom: 0;
}

/* .indice-revista-interior {
  padding-top: 1.875rem;
} */

.revista-interior h4.subtitulo-interior {
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  border-bottom: 1px solid #2042B8;
  padding-bottom: 0.8rem;
}

.revista-interior .img-portada-interior {
  margin-bottom: 1.875rem;
}

.info-revista-interior .link-interior p:first-child {
  margin-top: 0.5rem;
}

.info-revista-interior .link-interior {
  padding-bottom: 0.8rem;
}

.info-revista-interior a {
  color: #111111;
  text-decoration: none;
}

.info-revista-interior a:hover {
  color: #2042B8;
}

/* Termina Revista Interior */

/* Inicia Footer */
#footer-inicio {
  background-color: #111111;
  padding: 0 10rem;
}

.footer-1 {
  padding: 50px 0;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.footer-2 {
  padding: 30px 0;
  display: -ms-flexbox !important;
  display: flex !important;
}

hr.linea-footer {
  border-top: 1px solid rgba(241, 241, 241, 0.5);
  width: 100%;
  left: 0;
  position: absolute;
  margin: 0;
}

#footer-inicio p {
  color: #FFFFFF;
  font-size: 1rem;
  margin: 0;
}

.footer-2 .navbar-nav>li>a {
  padding: 0 10px;
}

.footer-2 a {
  color: #FFFFFF;
  text-decoration: none;
}

.footer-2 a:hover,
.footer-2 a:focus {
  color: #2042b8;
}

#footer-inicio .navbar-nav a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 1rem;
  color: #FFFFFF;
}

#footer-inicio .nav>li>a:hover,
#footer-inicio .nav>li>a:focus {
  text-decoration: none;
  color: #2042b8;
  background-color: transparent;
}

.footer-1 img {
  margin: 20px 0;
  padding-right: 15px;
  display: inline-block;
  height: 50px;
}

#creditos-leyenda {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}

#social {
  font-size: 0.875rem;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.redes-footer {
  float: left;
  padding-left: 7px;
  border-left: 1px solid #999999;
}

.redes-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.redes-footer ul li {
  display: inline-block;
  zoom: 1;
  vertical-align: middle;
}

.redes-footer ul li a {
  display: block;
  font-size: 1.2rem;
  margin: 0 5px;
  text-decoration: none;
}

.redes-footer ul li a i {
  color: #FFFFFF;
}

.redes-footer ul li a:hover i,
.redes-footer ul li a:focus i {
  color: #2042b8;
}

#footer-inicio .navbar-nav {
  flex-direction: row;
}

/* Termina Footer */

@media (max-width: 1400px) {
  .revista-wrapper h1 {
    font-size: 4.5rem
  }

  .revista-wrapper .subtitulo {
    font-size: 1.875rem
  }
}


@media (max-width: 1200px) {
  .revista-wrapper .intro-revista-container {
    padding: 5rem;
  }

  .masthead {
    padding: 1.5rem 5rem;
  }

  .acerca-revista {
    padding: 3rem 3rem;
  }

  .header-interior {
    padding: 1.5rem 5rem;
  }

  .revistas-disponibles {
    padding: 1.5rem 5rem;
  }

  .revista-interior {
    padding: 1.5rem 5rem;
  }

  #footer-inicio {
    text-align: center;
    padding: 0 3rem;
  }

  .footer-1,
  .footer-2,
  #social {
    display: inline-grid !important;
    justify-content: center !important;
  }

  .footer-1 {
    padding: 20px 0;
  }

  #creditos-leyenda {
    display: block !important;
    padding-bottom: 2rem;
  }

  .redes-footer {
    float: none;
    padding-left: 0;
    padding-top: 2rem;
    border-left: none;
  }
}

@media (max-width: 991px) {
  .left-container {
    width: 100% !important;
    position: relative !important;
    float: none !important;
  }

  .right-container {
    width: 100% !important;
    position: relative !important;
    right: unset !important;
    height: auto !important;
  }
}

@media (max-width: 991px) {

  .btn-azul {
    padding: 0.5rem 1.5rem;
  }

  .revista-wrapper .intro-revista-container {
    padding: 3rem;
  }

  .revista-wrapper {
    height: 100%;
  }

  .masthead {
    padding: 1.5rem 3rem;
    border-bottom: 1px solid rgba(32, 65, 184, 0.5);
  }

  .navbar-collapse ul {
    padding: 1.25rem 0 0 0;
  }

  .nav-masthead .nav-link {
    color: rgb(32, 66, 184);
    font-weight: 500;
  }

  .nav-masthead .nav-link:hover {
    color: rgba(32, 65, 184, 0.5);
  }

  .col-intro-revista {
    display: block;
    height: 100%;
  }

  .img-intro-revista {
    margin-top: -5rem;
    padding: 0 3rem 3rem 3rem;
  }

  .img-acerca-revista {
    margin: 3rem 0 0 0;
  }

  .header-interior {
    height: 150px;
    padding: 1.5rem 3rem;
  }

  .header-interior h2.titulo {
    font-size: 2.25rem;
  }

  .header-interior h2.subtitulo {
    font-size: 1.125rem;
  }

  .header-interior .breadcrumb {
    font-size: 0.875rem;
    margin-top: 1.25rem;
  }

  .revistas-disponibles {
    padding: 1.5rem 3rem;
  }

  .revista-interior {
    padding: 1.5rem 3rem;
  }

  .revista-interior h3.subtitulo {
    font-size: 1.5rem;
  }

  .revista-interior h4.subtitulo-interior {
    font-size: 1.25rem;
  }
}


@media (max-width: 576px) {
  .revista-wrapper h1 {
    font-size: 4.5rem;
  }

  #footer-inicio .navbar-nav {
    flex-direction: column;
  }

}